<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CateMapper">
	
	<select id="select" parameterType="int" resultType="cateVO">
		SELECT * FROM CATE WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="cateVO">
		SELECT * FROM CATE
	</select>
	<!-- 최상위 id값만 가져온다.  -->
	<select id="selectmain" resultType="cateVO">
		SELECT * FROM CATE WHERE PID IS NULL
	</select>
	
	
	<insert id="insert" parameterType="cateVO">
		<if	test="pid != 0"> <!-- self join 으로 인해 pid에는 상위id값이 들어가야 한다. 0은 불가  -->
			INSERT INTO CATE VALUES (#{id},#{name},#{pid})
		</if>
		<if test="pid == 0">
			INSERT INTO CATE VALUES (#{id},#{name},NULL)
		</if>
	</insert>
	<update id="update" parameterType="cateVO">
		<if test="pid != 0">
			UPDATE CATE SET NAME=#{name},PID=#{pid} WHERE ID=#{id}
		</if>
		<if test="pid == 0">
			UPDATE CATE SET NAME=#{name} WHERE ID=#{id}
		</if>
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM CATE WHERE ID=#{id}
	</delete>
	
</mapper>






