<meta charset="UTF-8">
<link rel="stylesheet" href="css/center.css">
<!-- main page center  -->


<div class="row content">
	<div class="col-sm-12 text-center">
		<div class="container">
			<div class="mycontent">
				<h1>
					<span class="mainspan">Watch Series 7</span>
				</h1>
				<h3> 더 크게 앞서 나아가다. </h3>
				<h3>₩499,000 부터</h3>
				<div>
					<button type="button" class="btn btn-primary btn-lg" id="mybutton">
						구입하기 ></button>
					&nbsp &nbsp &nbsp <a href="#"> 더 알아보기 > </a>
				</div>
				<a href="#"><img src="img/watch/watch7.png"> </a>
			</div>
		</div>

		<div class="div-margin"></div>



		<div class="container">
			<div class="div-margin">
				<h1> <span> 당신에게 알맞은 Apple Watch 는? </h1>
			</div>
			<div class="col-sm-4 text-center">
				<div class="thumbnail">
					<a href="#" target="_blank" class="deco-is-none"> <img
						src="img/watch/watchse.png" style="width: 30%">
						<div class="caption">
							<h3>
								<span>Apple Watch Series7</span>
							</h3>
							<button type="button" class="btn btn-primary btn-sg"
								id="mybutton">구입하기</button>
							<hr>
							<h4>
								<span>16.9 또는 15.4cm 디스플레이</span>
							</h4>
							<h4>
								<span> A15 Bionic 칩 </span>
							</h4>
							<h4>
								<span>초고속 5G 셀룰러</span>
							</h4>
							<h4>
								<span> Face ID </span>
							</h4>

							<hr>
						</div>
					</a>
				</div>
			</div>

			<div class="col-sm-4 text-center">
				<div class="thumbnail">
					<a href="#" target="_blank" class="deco-is-none"> <img
						src="img/watch/watchse.png" style="width: 30%">
						<div class="caption">
							<h3>
								<span>Apple Watch SE</span>
							</h3>
							<button type="button" class="btn btn-primary btn-sg"
								id="mybutton">구입하기</button>
							<hr>
							<h4>
								<span>16.9 또는 15.4cm 디스플레이</span>
							</h4>
							<h4>
								<span> A15 Bionic 칩 </span>
							</h4>
							<h4>
								<span>초고속 5G 셀룰러</span>
							</h4>
							<h4>
								<span> Face ID </span>
							</h4>
							<hr>
						</div>
					</a>
				</div>
			</div>


			<div class="col-sm-4 text-center">
				<div class="thumbnail">
					<a href="#" target="_blank" class="deco-is-none"> <img
						src="img/watch/watchse.png" style="width: 30%">
						<div class="caption">
							<h3>
								<span>Apple Watch Series3</span>
							</h3>
							<button type="button" class="btn btn-primary btn-sg"
								id="mybutton">구입하기</button>
							<hr>
							<h4>
								<span>16.9 또는 15.4cm 디스플레이</span>
							</h4>
							<h4>
								<span> A15 Bionic 칩 </span>
							</h4>
							<h4>
								<span>초고속 5G 셀룰러</span>
							</h4>
							<h4>
								<span> Face ID </span>
							</h4>
							<hr>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

