<meta charset="UTF-8">


<div class="row content">
	<div class="col-sm-12">
		<nav class="navbar navbar-default" id="second-navbar">
			<div class="container">
				<ul class="mylist">
					<li><a href="/"><img src="img/watch/watch.png"
							class="image_shape"><span id="second-navbar-span">Apple Watch Series 7</span></a></li>
					<li><a href="/"><img src="img/watch/watch.png"
							class="image_shape"><span id="second-navbar-span">Apple Watch SE</span></a></li>
					<li><a href="/"><img src="img/watch/watch.png"
							class="image_shape"><span id="second-navbar-span">Apple Watch Series 3</span></a></li>
					<li><a href="/"><img src="img/watch/watch.png"
							class="image_shape"><span id="second-navbar-span">Apple Watch HerMes </span></a></li>
					<li><a href="/"><img src="img/watch/watch.png"
							class="image_shape"><span id="second-navbar-span">Apple Watch Studio  </span></a></li>
				</ul>
			</div>
		</nav>

	</div>
</div>


