
<meta charset="utf-8">
<!-- breadcrumb -->
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>Contact Us</h2>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/contact_us">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="contact_page">
<!-- Our Services -->
	<div id="contact">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<div class="block-sm login_box">
						<h3>Get in Touch</h3>
						<p>We are available 24/7 by fax, e-mail or by phone. You can also use our quick contact form to ask a question about our services and projects we’re working on.</p>
						<div class="comments-form-wrapper clearfix comment-respond">
							<form class="comment-form" method="post" id="postComment" action="">
								<div class="field">
									<label for="name">Name<em class="required">*</em></label>
									<input type="text" class="input-text" title="Name" value="" id="user" name="user_name">
								</div>
								<div class="field">
									<label for="email">Email<em class="required">*</em></label>
									<input type="text" class="input-text validate-email" title="Email" value="" id="email" name="user_email">
								</div>
								<div class="clear"></div>
								<div class="field aw-blog-comment-area">
									<label for="comment">Your Message<em class="required">*</em></label>
									<textarea rows="5" cols="50" class="input-text" title="Comment" id="comment" name="comment"></textarea>
								</div>
								<div style="width:96%" class="button-set">
									<input type="hidden" value="1" name="blog_id">
									<button type="submit" class="btn submit" onclick="alert ('고객님의 소중한 의견이 등록되었습니다')"><span><span>Add Comment</span></span></button>
										
											
								</div>
							</form>
						</div>
					</div>
				</div>
			
				<div class="col-sm-4">
					<div class="contact-box-wrap">
						<div class="contact-box">
					
						  <div class="contact-box-item">
							<p class="contact-box-title">Phone</p>
							<div class="link-inline"><a href="#"><i class="fa fa-phone"></i> 82-02-123-4567</a></div>
						  </div>
						  <div class="contact-box-item">
							<p class="contact-box-title">E-mail</p>
							<div class="link-inline"><a href="#"><i class="fa fa-envelope-o"></i> admin@fashionshop.com</a></div>
						  </div>
						  <div class="contact-box-item">
							<p class="contact-box-title">Address</p>
							<div class="link-inline link-inline-top"><a href="#"><i class="fa fa-map-marker"></i> 서울특별시 강남구 선릉로 428</a></div>
						  </div>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</div>
</div>
<!-- Our Services End-->
<!--  div map  -->
