<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<!-- Footer Section -->
	<footer id="footer" class="footer">
		<div class="container-fluid">
			<div class="row">
			
			<div class="row footer_matter">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="footer_logo_wrapper">

						<h2 class="wow fadeInDown animated">Contact Detail</h2>
						   <ul>
								
								<li><i class="fa fa-map-marker"></i>서울특별시 강남구 선릉로 428</li>
								<li><i class="fa fa-phone"></i> Phone.+82-02-123-4567</li>
								<li><i class="fa fa-fax"></i> Fax. (123)456-7890</li>
								<li><i class="fa fa-envelope"></i> Email: company@Example.com</li>
								
							</ul>
							
						<h4 class="wow fadeInDown animated"><a href="/contact_us" class="btn wow fadeInDown animated">Read More</a></h4>
						
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="footer_list_wrapper">
						<h2 class="wow fadeInDown animated">Menu</h2>
						<ul class="footer_list">
							<li class="wow fadeInDown animated"><a href="/about_us"><i class="fa fa-angle-right" aria-hidden="true"></i> About Us</a>
							</li>							
							<li class="wow fadeInDown animated"><a href="/product?gender=Men"><i class="fa fa-angle-right" aria-hidden="true"></i> Shop</a>
							</li>	
							<li class="wow fadeInDown animated"><a href="/mypage"><i class="fa fa-angle-right" aria-hidden="true"></i> My Pages</a>
							</li>	
						
			
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="footer_list_wrapper">
						<h2>Shop</h2>
						<ul class="footer_list">
							<li class="wow fadeInDown animated"><a href="/product?gender=Men"><i class="fa fa-angle-right" aria-hidden="true"></i>Men</a>
							</li>
							<li class="wow fadeInDown animated"><a href="/product?gender=Women"><i class="fa fa-angle-right" aria-hidden="true"></i>Women</a>
							</li>
							
							
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</footer>
	
	<div class="footer_copyright">
		<div class="container-fluid">
			<p class="wow fadeInDown animated">© Copyright 2020 by Fashion Shop. All right Reserved - Design By <a href="https://www.templatebazaar.in/" target="_blank">Template bazaar</a></p>
		</div>
	</div>

