<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ProductMapper">
<!-- productMapper 라는 인터페이스가 호출되면 자동으로 이곳이 실행된다.  -->
	<select id="select" parameterType="String" resultType="product">
		SELECT * FROM product WHERE ID=#{obj}
	</select>
	<select id="selectAll" resultType="product">
		SELECT * FROM product
	</select>
	
	<insert id="insert" parameterType="product">
		INSERT INTO product VALUES (NULL,#{name},#{price},sysdate(),#{rate})
	</insert>
	<update id="update" parameterType="product">
		UPDATE product SET NAME=#{name},PRICE=#{price},regdate=sysdate(),RATE=#{rate} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM product WHERE ID=#{obj}
	</delete>
	
</mapper>






