<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>custadd Page</title>
<script>

</script>
</head>
<body>
<h1> custadd page</h1>
<form action="custaddimpl" method="post">
<table border=1>
<tr><th>ID</th><td><input type="text" name="id"></td></tr>
<tr><th>PWD</th><td><input type="password" name="pwd"></td></tr>
<tr><th>NAME</th><td><input type="text" name="name"></td></tr>
<tr><td><input type="submit" value="Register"></td></tr>
</table>
</form>

<div id="user_info"></div>
</body>
</html>