<meta charset="UTF-8">
<link rel="stylesheet" href="css/center.css">
<!-- main page center  -->


<div class="row content">
	<div class="col-sm-12 text-center">
		<div class="container">
			<div class="mycontent">
				<h1>
					<span class="mainspan">Mac Studio</span>
				</h1>
				<h3>창조의 원동력</h3>
				<h3>₩2,690,000</h3>
				<div>
					<button type="button" class="btn btn-primary btn-lg" id="mybutton">
						구입하기 ></button>
					&nbsp &nbsp &nbsp <a href="#"> 더 알아보기 > </a>
				</div>
				<a href="#"><img src="img/mac/macstudio.png"> </a>
			</div>
		</div>

		<div class="container">
			<div class="mycontent">
				<h1>
					<span class="mainspan">Studio Display</span>
				</h1>
				<h3>대담한 비전을 위한 캔버스</h3>
				<h3>₩2,090,000</h3>
				<div>
					<button type="button" class="btn btn-primary btn-lg" id="mybutton">
						구입하기</button>
					&nbsp &nbsp &nbsp <a href="#"> 더 알아보기 > </a>
				</div>
				<a href="#"><img src="img/mac/studiodisplay.png"> </a>
			</div>
		</div>


		<div class="container">
			<div class="mycontent">
				<h1>
					<span class="mainspan">MacBook Pro</span>
				</h1>
				<h3>프로다운 막강한 파워</h3>
				<h3>₩2,090,000</h3>
				<div>
					<button type="button" class="btn btn-primary btn-lg" id="mybutton">
						구입하기</button>
					&nbsp &nbsp &nbsp <a href="#"> 더 알아보기 > </a>
				</div>
				<a href="#"><img src="img/mac/macbookpro.png"> </a>
			</div>
		</div>

		<div class="div-margin"></div>






		<div class="container">
			<div class="div-margin">
				<h1>
					<span> 당신에게 맞는 Mac은? </span>
				</h1>
			</div>
			<div class="col-sm-4 text-center">
				<div class="thumbnail">
					<a href="#" target="_blank" class="deco-is-none"> <img
						src="img/mac/macbook.png" style="width: 30%">
						<div class="caption">
							<h3>
								<span>MacBook Air</span>
							</h3>
							<button type="button" class="btn btn-primary btn-sg"
								id="mybutton">구입하기</button>
							<hr>
							<h4>
								<span>8코어 CPU</span>
							</h4>
							<h4>
								<span>8코어 GPU</span>
							</h4>
							<h4>
								<span>최대 2TB 저장장치</span>
							</h4>
							<h4>
								<span>Retina 디스플레이 </span>
							</h4>
							<h4>
								<span> 무게 </span>
							</h4>
							<hr>
						</div>
					</a>
				</div>
			</div>

			<div class="col-sm-4 text-center">
				<div class="thumbnail">
					<a href="#" target="_blank" class="deco-is-none"> <img
						src="img/mac/macbook.png" style="width: 30%">
						<div class="caption">
							<h3>
								<span>MacBook Pro 13</span>
							</h3>
							<button type="button" class="btn btn-primary btn-sg"
								id="mybutton">구입하기</button>
							<hr>
							<h4>
								<span>8코어 CPU</span>
							</h4>
							<h4>
								<span>8코어 GPU</span>
							</h4>
							<h4>
								<span>최대 2TB 저장장치</span>
							</h4>
							<h4>
								<span>Retina 디스플레이 </span>
							</h4>
							<h4>
								<span> 무게 </span>
							</h4>
							<hr>
						</div>
					</a>
				</div>
			</div>


			<div class="col-sm-4 text-center">
				<div class="thumbnail">
					<a href="#" target="_blank" class="deco-is-none"> <img
						src="img/mac/macbook.png" style="width: 30%">
						<div class="caption">
							<h3>
								<span>MacBook Pro 14 및 16</span>
							</h3>
							<button type="button" class="btn btn-primary btn-sg"
								id="mybutton">구입하기</button>
							<hr>
							<h4>
								<span>8코어 CPU</span>
							</h4>
							<h4>
								<span>8코어 GPU</span>
							</h4>
							<h4>
								<span>최대 2TB 저장장치</span>
							</h4>
							<h4>
								<span>Retina 디스플레이 </span>
							</h4>
							<h4>
								<span> 무게 </span>
							</h4>
							<hr>
						</div>
					</a>
				</div>
			</div>



		</div>






	</div>
</div>

