<meta charset="UTF-8">


<div class="row content">
	<div class="col-sm-12">
		<nav class="navbar navbar-default" id="second-navbar">
			<div class="container">
				<ul class="mylist">
					<li><a href="/"><img src="img/mac/imac.png"
							class="image_shape"><span id="second-navbar-span">MacBook
								Air</span></a></li>
					<li><a href="/"><img src="img/mac/imac.png"
							class="image_shape"><span id="second-navbar-span">MacBook
								Pro </span></a></li>
					<li><a href="/"><img src="img/mac/imac.png"
							class="image_shape"><span id="second-navbar-span">iMac</span></a></li>
					<li><a href="/"><img src="img/mac/imac.png"
							class="image_shape"><span id="second-navbar-span">Mac
								mini </span></a></li>
					<li><a href="/"><img src="img/mac/imac.png"
							class="image_shape"><span id="second-navbar-span">Mac
								Studio </span></a></li>
				</ul>
			</div>
		</nav>

	</div>
</div>





<!-- <div class="row content">
	<div class="col-sm-12 text-center">
		<nav class="navbar navbar-default" id="second-navbar">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a href="/"><img src="img/imac.png"
							class="image_shape"><span id="second-navbar-span">iphone
								13 pro</span></a></li>
					<li><a href="/"><img src="img/imac.png"
							class="image_shape"><span id="second-navbar-span">iphone
								13</span></a></li>
					<li><a href="/"><img src="img/imac.png"
							class="image_shape"><span id="second-navbar-span">iphone
								13</span></a></li>
					<li><a href="/"><img src="img/imac.png"
							class="image_shape"><span id="second-navbar-span">iphone
								13</span></a></li>
					<li><a href="/"><img src="img/imac.png"
							class="image_shape"><span id="second-navbar-span">iphone
								asd</span></a></li>

				</ul>
			</div>
		</nav>

	</div>
</div> -->

