<meta charset="UTF-8">
<script>
	$(document).ready(function() {
		$('#login_bt').click(function() {
			//alert('hello');
			if($('#id').val() == ''){// id값이 공백일 경우
				$('#id').focus();
			}else{
				if ($('#pwd').val() == '') {//pwd 값이 공백일 경우 
					$('#pwd').focus();
				} else {
					$('#login_form').attr({
						'method' : 'post',
						'action' : '/loginimpl'
					});

					$('#login_form').submit();
				}
			}

		});
	});
</script>


<div class="container">
	<div class="col-sm-offset-2 col-sm-10">
		<h2>Login Page</h2>
	</div>
	<div th:if="${msg != null}" class="col-sm-offset-2 col-sm-10">
		<span th:text="${msg}" style="color:red">msg test</span>
	</div>

	<form class="form-horizontal" id="login_form">
		<div class="form-group">
			<label class="control-label col-sm-2" for="id">ID:</label>
			<div class="col-sm-6">
				<input th:if="${userid == null}" type="text" class="form-control"
					id="id" placeholder="Enter id" name="id"> <input
					th:unless="${userid == null}" type="text" class="form-control"
					id="id" placeholder="Enter id" name="id" th:value="${userid}">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Password:</label>
			<div class="col-sm-6">
				<input th:if="${userpwd == null}" type="password" class="form-control" id="pwd"
					placeholder="Enter password" name="pwd">
				<input th:unless="${userpwd == null}" type="password" class="form-control" id="pwd"
					placeholder="Enter password" name="pwd" th:value="${userpwd}">
			</div>
		</div>

	</form>
	<div class="col-sm-offset-2 col-sm-10">
		<button id="login_bt" class="btn btn-success">Login</button>
	</div>


</div>
