
<meta charset="UTF-8">


<!-- breadcrumb -->
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2><span></span> 회원탈퇴 </h2>
				<ul>
					<li><a href="/">Home</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content"
	class="cart_page checkout_page register_page login_page">
	<!-- cart -->
	<div id="register"
		class="cart_section checkout_section register_section">
		<div class="container-fluid" id="checkout">

			<div class="row billing_and_payment_option wow fadeInDown   animated">
				<div class="heading_wrapper wow fadeInDown animated">
					<h2 class="wow fadeInDown animated">정상적으로 회원탈퇴가 되었습니다. </h2>
					<h4>지금까지 해당 Shopping Mall 을 사용해 주셔서 감사합니다. </h4>
				</div>
			</div>
		</div>
	</div>
	<!-- cart end-->
</div>

<!-- back-to-top scrtion -->
<div class="top_button">
	<a class="back-to-top" style="cursor: pointer;" id="top-scrolltop"><i
		class="fa fa-angle-up"></i></a>
</div>
<!-- back-to-top scrtion End-->

