
<meta charset="UTF-8">


<!-- breadcrumb -->
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2><span th:text="${session.user.name}"></span> 님. Welcom!! </h2>
				<ul>
					<li><a href="/">Home</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content"
	class="cart_page checkout_page register_page login_page">
	<!-- cart -->
	<div id="register"
		class="cart_section checkout_section register_section">
		<div class="container-fluid" id="checkout">

			<div class="row billing_and_payment_option wow fadeInDown   animated">
				<div class="heading_wrapper wow fadeInDown animated">
					<h2 class="wow fadeInDown animated">Login Success!! </h2>

				</div>
				<!-- Billing Address -->
				<div class="login_box">
					<h3>이제 모든 컨텐츠를 사용하실 수 있습니다. </h3>

				</div>
				<!-- Delivery Address  -->
			</div>
			<!-- your shopping cart -->
		</div>
	</div>
	<!-- cart end-->
</div>

<!-- back-to-top scrtion -->
<div class="top_button">
	<a class="back-to-top" style="cursor: pointer;" id="top-scrolltop"><i
		class="fa fa-angle-up"></i></a>
</div>
<!-- back-to-top scrtion End-->

