<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.MainMapper">
	
	<select id="getCustCnt" resultType="int">
		SELECT COUNT(id) FROM CUST
	</select>
	<select id="getProductCnt" resultType="int">
		SELECT COUNT(id) FROM PRODUCT
	</select>

	
</mapper>






