<meta charset="UTF-8">
<link rel="stylesheet" href="css/center.css">

<!-- main page center  -->


<div class="row content">
	<div class="col-sm-12 text-center">
		<div class="container">
			<div class="mycontent">
				<h1><span class="mainspan"> iPhone 13 pro </span></h1>
				<h3>이게 바로 프로</h3>
				<div>
					<a href="iPhone"> 더 알아보기 > </a> &nbsp &nbsp &nbsp <a href="iPhone"> 구입하기
						> </a>
				</div>
				<a href="iPhone"><img src="img/iphone/iphone13pro.png"> </a>
			</div>
		</div>

		<div class="container">
			<div class="mycontent">
				<h1><span class="mainspan">iPhone se</span></h1>
				<h3>거침없는 파워. 실속있는 선택.</h3>
				<div>
					<a href="iPhone"> 더 알아보기 > </a> &nbsp &nbsp &nbsp <a href="#"> 구입하기
						> </a>
				</div>
				<a href="iPhone"><img src="img/iphone/iphonese.png"> </a>
			</div>
		</div>


		<div class="container">
			<div class="mycontent">
				<h1><span class="mainspan">WATCH</span></h1>
				<h3>이제껏 가장 큰 디스플레이 탑재.</h3>
				<div>
					<a href="watch"> 더 알아보기 > </a> &nbsp &nbsp &nbsp <a href="#"> 구입하기
						> </a>
				</div>
				<a href="watch"><img src="img/watch/watch7.png"> </a>
			</div>
		</div>

		<div class="div-margin"></div>

		<div class="container">
			<div class="col-sm-6 text-center">
				<div class="image-text">
					<img src="img/bg/bg2.png">
					<div class="image-text-text">
						<h2>개인정보 보호,</h2>
						<h2>iPhone이니까.</h2>
					</div>
					<div class="image-text-text-a">
						<h3>
							<a href="#"> 더 알아보기 > </a>
						</h3>
					</div>

				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="image-text">
					<img src="img/bg/bg1.png">
					<div class="image-text-text">
						<h2>WWDC22</h2>
						<h4>WWDC(세계 개발자회의)가 곧 찾아옵니다.</h4>
						<h4>6월 6일-10일(태평양 연얀 표준시),</h4>
						<h4>온라인에서 만나요</h4>
					</div>
					<div class="image-text-text-a">
						<h3>
							<a href="#"> 더 알아보기 > </a>
						</h3>
					</div>

				</div>
			</div>
		</div>

		<div class="div-margin"></div>

		<div class="container">
			<div class="col-sm-6 text-center">
				<div class="image-text">
					<img src="img/bg/bg3.png">
					<div class="image-text-text">
						<h2>iPad Air</h2>
						<h4>가뿐하게. 색다르게. 강력하게.</h4>
					</div>
					<div class="image-text-text-a">
						<h3>
							<a href="#"> 더 알아보기 > </a>
						</h3>
					</div>

				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="image-text">
					<img src="img/bg/bg4.png">
					<div class="image-text-text">
						<h2>Music Live</h2>
						<h4>원나잇 온리 인 뉴욕.</h4>
						<h4>5월 21일, 신보 Harry's House를 라이브로.</h4>
						<h4>오직 Apple Music에서만.</h4>
					</div>
					<div class="image-text-text-a">
						<h3>
							<a href="#"> 더 알아보기 > </a>
						</h3>
					</div>

				</div>
			</div>
		</div>





	</div>
</div>