<meta charset="UTF-8">
<style>
.list-unstyled a {
	color: black;
}

.list-unstyled li{
	margin-top: 5px;
	
}

h4{
	margin-top: 20px;
}



</style>

<hr>

<div class="container">
	<div class="col-sm-3 text-left">
		<h4>&gt 쇼핑 및 알아보기</h4>
		<ul class="list-unstyled">
			<li><a href="#">스토어</a></li>
			<li><a href="#">Mac</a></li>
			<li><a href="#">iPad</a></li>
			<li><a href="#">iPhone</a></li>
			<li><a href="#">Watch</a></li>
			<li><a href="#">AirPods</a></li>
		</ul>
	</div>

	<div class="col-sm-3 text-left">
		<h4>&gt 서비스</h4>
		<ul class="list-unstyled">
			<li><a href="#">Apple Music</a></li>
			<li><a href="#">Apple TV+</a></li>
			<li><a href="#">Apple Arcade</a></li>
			<li><a href="#">iCloud</a></li>
			<li><a href="#">Apple Books</a></li>
			<li><a href="#">App Store</a></li>
		</ul>
	</div>

	<div class="col-sm-3 text-left">
		<h4>&gt Apple Store</h4>
		<ul class="list-unstyled">
			<li><a href="#"> 매장찾기 </a></li>
			<li><a href="#"> Apple 캠프</a></li>
			<li><a href="#"> 금융 해택 </a></li>
			<li><a href="#"> 주문 상태 </a></li>
			<li><a href="#"> 쇼핑 도움말</a></li>
		</ul>
	</div>

	<div class="col-sm-3 text-left">
		<h4>&gt Apple의 가치관</h4>
		<ul class="list-unstyled">
			<li><a href="#"> 손쉬운 사용</a></li>
			<li><a href="#"> 개인정보 보호 </a></li>
			<li><a href="#"> 협력업체에 대한 책임  </a></li>
		</ul>
		<h4>&gt Apple 정보</h4>
		<ul class="list-unstyled">
			<li><a href="#"> Newsroom</a></li>
			<li><a href="#"> 채용안내 </a></li>
			<li><a href="#"> Apple연락처  </a></li>
		</ul>
	</div>




</div>