<meta charset="UTF-8">

<h1>Select All Page 입니다.</h1>
<hr>

<div class="container-fluid text-center">

	<div class="col-sm-3 text-left"></div>
	<div class="col-sm-6 text-left">
		<h3>
			User 정보 출력 </span>
		</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>PWD</th>
					<th>NAME</th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="cust : ${custall}">

 					<td><a href="custdetail"
						th:href="@{custdetail(id=${cust.id})}" th:text="${cust.id}">ID</a></td>
					<td th:text="${cust.pwd}"></td>
					<td th:text="${cust.name}"></td>
				</tr>
			</tbody>

		</table>
	</div>
</div>