<meta charset="UTF-8">

<h1>Register Page 입니다.</h1>
<hr>
<div class="container-fluid text-center">
		
		<div class="col-sm-4 text-left">
		</div>
		<div class="col-sm-4 text-left">
			<form action="registerimpl" method="POST">
				<div class="form-group">
					<label for="id"> ID </label> <input type="text"
						class="form-control" id="id" name="id" placeholder="Enter ID">
				</div>
				<div class="form-group">
					<label for="pwd"> PWD </label> <input type="password"
						class="form-control" id="pwd" name="pwd" placeholder="Enter pwd">
				</div>
				<div class="form-group">
					<label for="name"> NAME </label> <input type="text"
						class="form-control" id="name" name="name" placeholder="Enter name">
				</div>
				<input type="submit" value="Register">
			</form>
		</div>
</div>
