<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Product Tables</h1>
<p class="mb-4">
	DataTables is a third party plugin that is used to generate the demo
	table below. For more information about DataTables, please visit the <a
		target="_blank" href="https://datatables.net">official DataTables
		documentation</a>.
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%"
				cellspacing="0">
				<thead>
					<tr>
						<th>ID</th>
						<th>NAME</th>
						<th>PRICE</th>
						<th>REGDATE</th>
						<th>CID</th>
						<th>IMGNAME</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>ID</th>
						<th>NAME</th>
						<th>PRICE</th>
						<th>REGDATE</th>
						<th>CID</th>
						<th>IMGNAME</th>
					</tr>
				</tfoot>
				<tbody>
					<tr th:each="product : ${productlist}">
						<td th:text="${product.id}">id02</td>
						<td th:text="${product.name}">name</td>
						<td th:text="${product.price}">price</td>
						<td th:text="${#dates.format(product.regdate, 'yyyy/MM/dd')}">2011/04/25</td>
						<td th:text="${product.cid}">cate id</td>
						<td th:text="${product.imgname}">imgname</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>