<meta charset="UTF-8">


<div class="row content">
	<div class="col-sm-12">
		<nav class="navbar navbar-default" id="second-navbar">
			<div class="container">
				<ul class="mylist">
					<li><a href="/"><img src="img/iphone/phone.png"
							class="image_shape"><span id="second-navbar-span">iPhone 13 Pro</span></a></li>
					<li><a href="/"><img src="img/iphone/phone.png"
							class="image_shape"><span id="second-navbar-span">iPhone 13</span></a></li>
					<li><a href="/"><img src="img/iphone/phone.png"
							class="image_shape"><span id="second-navbar-span">iPhone SE</span></a></li>
					<li><a href="/"><img src="img/iphone/phone.png"
							class="image_shape"><span id="second-navbar-span">iPhone 12 </span></a></li>
					<li><a href="/"><img src="img/iphone/phone.png"
							class="image_shape"><span id="second-navbar-span">iPhone 11  </span></a></li>
				</ul>
			</div>
		</nav>

	</div>
</div>


