<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>productadd Page</title>
<script>

</script>
</head>
<body>
<h1> productadd page</h1>
<form action="productaddimpl" method="post">
<table border=1>
<tr><th>name</th><td><input type="text" name="name"></td></tr>
<tr><th>price</th><td><input type="text" name="price"></td></tr>
<tr><th>rate</th><td><input type="text" name="rate"></td></tr>
<tr><td><input type="submit" value="Register"></td></tr>
</table>
</form>

</body>
</html>