<meta charset="UTF-8">

<h1>Register Page 입니다.</h1>
<hr>
<div class="container-fluid text-center">
		
		<div class="col-sm-4 text-left">
		</div>
		<div class="col-sm-4 text-left">
			<form action="registerimpl" method="POST">
				<div class="form-group">
					<label for="name"> NAME </label> <input type="text"
						class="form-control" id="name" name="name" placeholder="Enter name">
				</div>
				<div class="form-group">
					<label for="price"> Price </label> <input type="number"
						class="form-control" id="price" name="price" placeholder="Enter price">
				</div>
				<div class="form-group">
					<label for="rate"> rate </label> <input type="text"
						class="form-control" id="rate" name="rate" placeholder="Enter rate">
				</div>
				<input type="submit" value="Register">
			</form>
		</div>
</div>
