<meta charset="UTF-8">

<script>
	function checkID(id) {// 데이터베이스에 있는 ID들과 중복 비교 
		$.ajax({
			url : 'checkID',
			data : {
				'id' : id
			},
			success : function(data) {
				if (data == '1') {//중복이 아닌 경우
					$('#id_span').css('color', 'green');
					$('#id_span').text('사용 가능한 아이디 ');

				} else {// 중복인 경우 
					$('#id_span').css({
						'color' : 'red'
					});
					$('#id_span').text('아이디 중복, 현재 아이디는 사용할 수 없습니다. ');
				}
			},
			error : function() {
			}
		});

	};

	$(document).ready(function() {
		//$('#register').attr('disabled', 'disabled');// 버튼 막기 

		$('#id').keyup(function() {
			var id = $('#id').val();
			if (id.length < 5) {
				$('#id_span').text('ID는 5글자 이상 입력해주세요.');
				$('#id_span').css('color', 'red');

			} else {
				checkID(id);

			}
		});

		$('#pwd').keyup(function() {// 비밀번호가 10자리 이상이면 못하게 막기 
			var pwd = $('#pwd').val();
			if (pwd.length < 10) {
				$('#pwd_span').text('');
			} else {
				$('#pwd_span').text('10자리 미만으로 입력해 주세요');
				$('#pwd_span').css({
					'color' : 'red'
				});
			}
		});

		$('#samepwd').keyup(function() {
			var pwd = $('#pwd').val();
			var samepwd = $('#samepwd').val();

			if (pwd != samepwd) {
				$('#samepwd_span').text('비밀번호가 다릅니다. ');
				$('#samepwd_span').css('color', 'red');
				$('#register').attr('disabled', 'disabled');
			} else {
				$('#samepwd_span').text('일치합니다. ');
				$('#samepwd_span').css('color', 'green');
				$('#register').removeAttr('disabled');

			}

		});

		$('#register').click(function() {
			var pwd = $('#pwd').val();
			var samepwd = $('#samepwd').val();

			if (pwd.length >= 10) {
				alert('pwd error')
				$('#pwd').focus();
				return;
			} else {

			}

			if (pwd != samepwd) {
				alert('samepwd error')
				$('#samepwd').focus();
				return;
			} else {

			}

			$('#register_form').attr({
				'action' : 'naver_loginOK',
				'method' : 'post'
			});
			$('#register_form').submit();

		});

	});
</script>


<div class="container-fluid">
	<div class="container col-sm-4"></div>
	<div class="container col-sm-4">
		<div id="div_logo">
			<h3>회원 가입 화면</h3>
			<img src="img/apple.png" class="image_shape">
		</div>
		<form id="register_form">
			<div class="form-group">
				<label for="name">ID:</label> <input type="text"
					class="form-control" name="id" id="id" placeholder="Input ID">
				<span id="id_span"></span>
			</div>

			<div class="form-group">
				<label for="pwd">Password:</label> <input type="password"
					class="form-control" name="pwd" id="pwd"
					placeholder="Input Password"> <span id="pwd_span"></span>
			</div>

			<div class="form-group">
				<label for="samepwd">비밀번호 재확인:</label> <input type="password"
					class="form-control" name="samepwd" id="samepwd"
					placeholder="Same Password Checked"> <span
					id="samepwd_span"></span>
			</div>

			<div class="form-group">
				<label for="name">이름:</label> <input type="text"
					class="form-control" name="name" id="name" placeholder="Input Name">
			</div>

			<div class="form-group">
				<label for="birthday">생년 월일:</label> <input type="date"
					class="form-control" id="birthday" name="birthday">
			</div>

			<div class="form-group">
				<label for="gender">성별:</label> <select name="gender"
					class="form-control">
					<option value="남자">남자</option>
					<option value="여자">여자</option>
				</select>
			</div>

			<div class="form-group">
				<label for="email">email:</label> <input type="email"
					class="form-control" name="email" id="email"
					placeholder="abc@naver.com">
			</div>

			<div class="form-group">
				<label for="contry">휴대전화 </label> <select name="contry"
					class="form-control">
					<option value="+82">한국 (+82)</option>
					<option value="+1">미국 (+1)</option>
				</select> <input type="tel" name="telphone" id="telphone"
					class="form-control" placeholder="010-1234-5678">
				<button class="form-control" id="mybtn">인증 번호 전송</button>
			</div>
		</form>

		<div class="form-group">
			<button class="form-control" id="register">가입하기</button>
		</div>

	</div>
</div>



