<meta charset="UTF-8">
<script>

$(document).ready(function() {
	$('#id').blur(function(){
		if($('#id').val() == ''){// id값이 공백일 경우
			$('#id_span').text('id는 공백이 될 수 없습니다. ');
			$('#id_span').css('color','red');
		}else{
			$('#id_span').text('');
		}
	});
	
	$('#pwd').blur(function(){
		if($('#pwd').val() == ''){// id값이 공백일 경우
			$('#pwd_span').text('pwd는 공백이 될 수 없습니다. ');
			$('#pwd_span').css('color','red');
		}else{
			$('#pwd_span').text('');
		}
	});
	
	
	$('#login_btn').click(function() {

		if($('#id').val() == ''){// id값이 공백일 경우
			$('#id_span').text('id는 공백이 될 수 없습니다. ');
			$('#id_span').css('color','red');
			$('#id').focus();
		}else{
			if ($('#pwd').val() == '') {//pwd 값이 공백일 경우 
				$('#pwd_span').text('pwd는 공백이 될 수 없습니다.');	
				$('#pwd_span').css('color','red');	
				$('#pwd').focus();
			} else {
				$('#login_form').attr({
					'method' : 'post',
					'action' : '/login/loginimpl'
				});

				$('#login_form').submit();
			}
		}

	});
});

</script>


<!-- breadcrumb -->
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>login</h2>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="">login</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content"
	class="cart_page checkout_page register_page login_page">
	<!-- cart -->
	<div id="register"
		class="cart_section checkout_section register_section">
		<div class="container-fluid" id="checkout">

			<div class="row billing_and_payment_option wow fadeInDown   animated">
				<div class="heading_wrapper wow fadeInDown animated">
					<h2 class="wow fadeInDown animated">Login</h2>

				</div>
				<!-- Billing Address -->
				<div class="login_box">
					<h3>Input your ID and Password</h3>
					<h4 th:if="${msg != null}" th:text="${msg}" style="color: red"></h4>
					
					<form class="eb-form eb-mailform form-checkout"
						novalidate="novalidate" id="login_form">
						<div class="form-wrap">
							<span id="id_span"></span>
							<input class="form-input form-control" id="id" type="text"
								name="id" placeholder="ID">
						</div>
						<div class="form-wrap">
							<span id="pwd_span"></span>
							<input class="form-input form-control" id="pwd" type="password"
								name="pwd"
								placeholder="Password">
						</div>
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								id="defaultUnchecked"> <label
								class="custom-control-label register-remember"
								for="defaultUnchecked">Remember me on this device</label>
						</div>



					</form>
					<button class="btn" id="login_btn">Login</button>
					<p class="signInclass">
						Dont Have an Account? &nbsp;<a href="register">Sign In</a>
					</p>
					<div class="clear"></div>
				</div>
				<!-- Delivery Address  -->
			</div>
			<!-- your shopping cart -->
		</div>
	</div>
	<!-- cart end-->
</div>

<!-- back-to-top scrtion -->
<div class="top_button">
	<a class="back-to-top" style="cursor: pointer;" id="top-scrolltop"><i
		class="fa fa-angle-up"></i></a>
</div>
<!-- back-to-top scrtion End-->
