<meta charset="UTF-8">
<script>
window.onload = function(){
	var num1 = Math.min(0, 150, 30, 20, -8, -200); // returns -200 
	var num2 = Math.max(0, 150, 30, 20, -8, -200); // returns 150 
	var num3 = Math.random(); // returns a random number 
	var num4 = Math.round(4.7); // returns 5 
	var num5 = Math.round(4.4); // returns 4 
	var num6 = Math.ceil(4.4); // returns 5 
	var num7 = Math.floor(4.7); // returns 4 
	var num8 = Math.floor(Math.random() * 11); // returns a random number between 0 and 10 <
	
	
	var r = document.querySelector('#result');
	r.innerHTML = num2;
	r.innerHTML += num1;
	
	var txt = document.querySelector('#email').innerHTML;

	var id = txt.substring(0,txt.indexOf('@'));
	var domain = txt.substring(txt.indexOf('@')+1, txt.indexOf('.'));
	
	document.querySelector('#id').innerHTML = id;
	document.querySelector('#domain').innerHTML = domain;
	
	
	
}


</script>


<h1>JS03 페이지 입니다.</h1>
<p> Js03의 내용을 불러옵니다. .</p>
<hr>
<h3 id='result'>JS03 이메일과 도메인을 출력합니다. </h3>
<p>Learn JS...</p>

<h4 id='email'>jmlee@tonesol.com</h4>
<h4 id='id'></h4>
<h4 id='domain'></h4>
