<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.MainMapper">

	<select id="getCustCnt" resultType="int">
		SELECT COUNT(id) FROM CUST
	</select>
	<select id="getProductCnt" resultType="int">
		SELECT COUNT(id) FROM
		PRODUCT
	</select>
	<select id="searchproduct" parameterType="String" resultType="productVO">
		SELECT p.id
		as id, p.name as name, p.price, p.regdate, p.cid as cid,
		p.imgname as
		imgname, c.name as catename FROM product p
		INNER JOIN cate c ON p.cid =
		c.id
		WHERE p.name LIKE CONCAT('%',#{txt},'%')
	</select>
	<select id="getadmin" parameterType="String" resultType="adminVO">
		SELECT * FROM admin WHERE ID=#{id}
	</select>


</mapper>






