<meta charset="UTF-8">
<link rel="stylesheet" href="css/center.css">
<!-- main page center  -->


<div class="row content">
	<div class="col-sm-12 text-center">
		<div class="container">
			<div class="mycontent">
				<h1>
					<span class="mainspan">iPad air</span>
				</h1>
				<h3> 가뿐하게. 색다르게. 강력하게 </h3>
				<h3>₩779,000 부터</h3>
				<div>
					<button type="button" class="btn btn-primary btn-lg" id="mybutton">
						구입하기 ></button>
					&nbsp &nbsp &nbsp <a href="#"> 더 알아보기 > </a>
				</div>
				<a href="#"><img src="img/ipad/ipadair.png"> </a>
			</div>
		</div>

		<div class="container">
			<div class="mycontent">
				<h1>
					<span class="mainspan">iPad Pro</span>
				</h1>
				<h3> 궁극의 iPad란 이런 것. </h3>
				<h3>₩999,000부터</h3>
				<div>
					<button type="button" class="btn btn-primary btn-lg" id="mybutton">
						구입하기</button>
					&nbsp &nbsp &nbsp <a href="#"> 더 알아보기 > </a>
				</div>
				<a href="#"><img src="img/ipad/ipadpro.png"> </a>
			</div>
		</div>


		<div class="container">
			<div class="mycontent">
				<h1>
					<span class="mainspan">iPad mini</span>
				</h1>
				<h3> 메가급 성능. 크기만 미니 </h3>
				<h3>₩649,000부터</h3>
				<div>
					<button type="button" class="btn btn-primary btn-lg" id="mybutton">
						구입하기 </button>
					&nbsp &nbsp &nbsp <a href="#"> 더 알아보기 > </a>
				</div>
				<a href="#"><img src="img/ipad/ipadmini.png"> </a>
			</div>
		</div>

		<div class="div-margin"></div>






		<div class="container">
			<div class="div-margin">
				<h1> <span> 당신에게 맞는 iPad는? </h1>
			</div>
			<div class="col-sm-4 text-center">
				<div class="thumbnail">
					<a href="#" target="_blank" class="deco-is-none"> <img
						src="img/ipad/ipad.png" style="width: 30%">
						<div class="caption">
							<h3>
								<span>iPad Pro</span>
							</h3>
							<button type="button" class="btn btn-primary btn-sg"
								id="mybutton">구입하기</button>
							<hr>
							<h4>
								<span>12.9 디스플레이</span>
							</h4>
							<h4>
								<span> M1 칩 </span>
							</h4>
							<h4>
								<span>12MP 와이드 카메라</span>
							</h4>
							<h4>
								<span> Thunderbolt/USB 지원 </span>
							</h4>
							<h4>
								<span> Apple Pencil 2세대 호환  </span>
							</h4>
							<hr>
						</div>
					</a>
				</div>
			</div>

			<div class="col-sm-4 text-center">
				<div class="thumbnail">
					<a href="#" target="_blank" class="deco-is-none"> <img
						src="img/ipad/ipad.png" style="width: 30%">
						<div class="caption">
							<h3>
								<span>iPad Air</span>
							</h3>
							<button type="button" class="btn btn-primary btn-sg"
								id="mybutton">구입하기</button>
							<hr>
							<h4>
								<span>12.9 디스플레이</span>
							</h4>
							<h4>
								<span> M1 칩 </span>
							</h4>
							<h4>
								<span>12MP 와이드 카메라</span>
							</h4>
							<h4>
								<span> Thunderbolt/USB 지원 </span>
							</h4>
							<h4>
								<span> Apple Pencil 2세대 호환  </span>
							</h4>
							<hr>
						</div>
					</a>
				</div>
			</div>


			<div class="col-sm-4 text-center">
				<div class="thumbnail">
					<a href="#" target="_blank" class="deco-is-none"> <img
						src="img/ipad/ipad.png" style="width: 30%">
						<div class="caption">
							<h3>
								<span>iPad mini</span>
							</h3>
							<button type="button" class="btn btn-primary btn-sg"
								id="mybutton">구입하기</button>
							<hr>
							<h4>
								<span>12.9 디스플레이</span>
							</h4>
							<h4>
								<span> M1 칩 </span>
							</h4>
							<h4>
								<span>12MP 와이드 카메라</span>
							</h4>
							<h4>
								<span> Thunderbolt/USB 지원 </span>
							</h4>
							<h4>
								<span> Apple Pencil 2세대 호환  </span>
							</h4>
							<hr>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

