<meta charset="UTF-8">


<div class="row content">
	<div class="col-sm-12">
		<nav class="navbar navbar-default" id="second-navbar">
			<div class="container">
				<ul class="mylist">
					<li><a href="/"><img src="img/ipad/tablet.png"
							class="image_shape"><span id="second-navbar-span">iPad Pro</span></a></li>
					<li><a href="/"><img src="img/ipad/tablet.png"
							class="image_shape"><span id="second-navbar-span">iPad Air </span></a></li>
					<li><a href="/"><img src="img/ipad/tablet.png"
							class="image_shape"><span id="second-navbar-span">iPad</span></a></li>
					<li><a href="/"><img src="img/ipad/tablet.png"
							class="image_shape"><span id="second-navbar-span">iPad mini </span></a></li>
					<li><a href="/"><img src="img/ipad/tablet.png"
							class="image_shape"><span id="second-navbar-span">Apple Pencil </span></a></li>
				</ul>
			</div>
		</nav>

	</div>
</div>


